.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.margin-left{
    margin-left: 15px
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}
.BG-header{
    background-color: #2C3E50;
}
.avatar{
    height: 200px;
    width: 200px;
    
}
.text{
    text-align: center;
    padding-top: 70px;
}
.BG-verdeacqua{
    background-color: #1abc9c;
    
}
.h2{
    color: white;
    font-size: 3rem;
}